{% extends 'base.html' %}

{% block content %}
<h1>Oversikt over Alle Søknader</h1>

<table border="1">
    <thead>
        <tr>
            <th>Navn - Forelder 1</th>
            <th>Navn - Forelder 2</th>
            <th>Navn - Barn</th>
            <th>Fortrinnsrett</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for soknad in soknader %}
        <tr>
            <td>{{ soknad.foresatt_navn_1 }}</td> <!-- Navn til forelder 1 -->
            <td>{{ soknad.foresatt_navn_2 }}</td> <!-- Navn til forelder 2, hvis det finnes -->
            <td>{{ soknad.barn_navn }}</td> <!-- Navn til barnet -->
            <td>
                {% if soknad.fortrinnsrett %}
                    Ja
                {% else %}
                    Nei
                {% endif %}
            </td>
            <td>{{ soknad.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/">Tilbake til hovedsiden</a>
{% endblock %}